body{
  background:rgb(231, 220, 220);
}
h1{
  font-size: 40px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.botones{
  display: flex;
  justify-content: center;
}
.boton{
  width: 120px;
  height: 40px;
  border-radius: 9px;
  margin-left: 20px;
  background-color: rgb(25, 24, 24);
  color: white;
  border: none;

}
.boton:hover{
  background-color:rgb(102, 104, 105)
}